* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --skyblue: #03baca;
  --darkslategray: #4b4b4b;
  --black: #000000;
  --white: #ffffff;
  --whitesmoke: #f6f6f6;
}
html,
body {
  scroll-behavior: smooth;
}
.navbar {
  background-color: var(--darkslategray);
}
.navbar .navbar-brand h4 {
  font-family: sans-serif;
  font-weight: 700;
  color: var(--skyblue);
}
.fz-1 {
  font-size: 13px;
}

.outline-none {
  outline: none;
}
.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.692),
      rgba(0, 0, 0, 0.675),
      rgba(0, 0, 0, 0.682)
    ),
    url(../images/home-bg-slideshow1.jpg);
  animation: bannerchange 10s infinite;
}
@keyframes bannerchange {
  0% {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.692),
        rgba(0, 0, 0, 0.675),
        rgba(0, 0, 0, 0.682)
      ),
      url(../images/home-bg-slideshow1.jpg);
  }
  100% {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.692),
        rgba(0, 0, 0, 0.675),
        rgba(0, 0, 0, 0.682)
      ),
      url(../images/home-bg-slideshow2.jpg);
  }
}
.heading h1 {
  color: var(--skyblue);
  text-shadow: 2px 2px 2px var(--black);
}
.heading h3 {
  font-family: serif;
}
.work-box:hover {
  box-shadow: 1px 1px 2px var(--darkslategray);
  border-radius: 5px;
}
.work-box p,
.work-box i {
  color: var(--darkslategray);
}
.work-box h3 {
  color: white;
  text-shadow: 2px 2px 5px var(--darkslategray);
}
.about {
  background-color: var(--black);
}
.about-content ul li a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--white);
}
.design-link {
  background-color: var(--skyblue);
}
.about button {
  color: var(--black);
}
.team-box {
  position: relative;
  overflow: hidden;
}

.team-box .team-content {
  width: 90%;
  height: 100%;
  color: var(--white);
  font-weight: bold;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.808);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.team-content i {
  margin: 10px;
  font-size: 1.2rem;
}
.team-content h5 {
  color: var(--skyblue);
}
.team-box:hover .team-content {
  z-index: 1;
}
.portfolio {
  background-color: var(--whitesmoke);
}
.portfolio button {
  width: 100px;
}
.all {
  display: flex;
}
.all img {
  animation: portfolio 2s;
}
.html,
.photoshop,
.wordpress,
.mobilephone {
  display: none;
}
.html img,
.photoshop img,
.wordpress img,
.mobilephone img {
  animation: portfolio 2s;
}
@keyframes portfolio {
  0% {
    transform: translateX(-1200px) scale(0.3) rotateZ(180deg);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
.html img:hover,
.photoshop img:hover,
.wordpress img:hover,
.mobilephone img:hover {
  opacity: 0.5;
}
/* .portfolio button:focus {
  background-color: var(--darkslategray);
  color: white;
} */
.pricing-content i {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px double var(--whitesmoke);
  box-shadow: 2px 2px 2px var(--darkslategray);
  line-height: 100px;
  text-align: center;
  font-size: 3rem;
  margin: 10px auto;
}
